.modal {
  position: fixed;
  top: 0;
  left: 0;
  &.show {
    & .modal-bg {
      transform: scale(1);
      animation: show 300ms;
      width: 100vh;
      height: 100vh;
    }
    & .modal-layout {
      display: flex;
    }
  }
  &.hide {
    & .modal-bg {
      transform: scale(0);
      animation: hide 300ms;
      width: 100vh;
      height: 100vh;
    }
  }

  & .modal-bg,
  & .modal-layout {
    position: absolute;
    z-index: 999;
  }
  & .modal-bg {
    background-color: white;
  }
  & .modal-layout {
    font-size: 1.3rem;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    color: var(--primary-emphasis);
    & .modal-close {
      position: absolute;
      top: 10px;
      right: 15px;
      border: none;
      background: none;
      outline: 0;
      cursor: pointer;
      appearance: none;
      font-size: inherit;
      padding: 0;
      & i {
        font-size: inherit;
        color: var(--primary-emphasis);
        vertical-align: middle;
      }
    }
    & .modal-form {
      & > .modal-title {
        display: flex;
        & > .title {
          width: 100%;
          text-align: center;
          font-size: 1.5rem;
          font-weight: bold;
        }
      }
      & > .modal-content {
        min-height: 300px;
      }
    }
  }
}

@keyframes show {
  0% {
    border-radius: 50%;
    transform: scale(0);
  }
  70% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1.5);
    border-radius: 0%;
  }
}
@keyframes hide {
  0% {
    transform: scale(1.5);
    border-radius: 0%;
  }
  30% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(0);
    border-radius: 50%;
  }
}
